h2{
  margin-left: 10px;
}
a{
  text-decoration: none;
}
button{
  margin-left: 10px;
}
.dataTable{
  border-collapse: collapse;
  width: 80%;
  margin-left: 10px;
}
.dataTh {
  border: 1px solid #dddddd;
  background: #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}
.dataTd{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.dataTime{
  width: 100px;
  text-align: center;
}

